/* main */
main {
  min-height: 100vh;
}

/* Courses */
.courses {
  padding: 20px 0;
}

.courses .courses__filter {
  display: flex;
  flex-direction: column;
  background-color: var(--bg_default);
  border-radius: 8px;
  box-shadow: 2px 2px 6px #0000001a, -2px -2px 6px #0000001a;
  min-height: 50px;
}

.courses .courses__filter .courses__filter--search {
  width: 100%;
  padding: 10px 20px 10px 10px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-bottom: 1px solid var(--lines-color);
}

.courses
  .courses__filter
  .courses__filter--search
  .courses__filter--search--icon {
  color: var(--body-text);
}

.courses .courses__filter .courses__filter--search input {
  width: 100%;
  padding: 4px;
  background-color: var(--bg_default);
  color: var(--body-text);
}

.courses .courses__filter section {
  display: flex;
  width: 100%;
}

.courses .courses__filter .courses__filter--control {
  padding: 4px 10px;
  width: 50%;
}

.courses .courses__filter .courses__filter--control:not(:last-of-type) {
  border-right: 1px solid var(--lines-color);
}

.courses .courses__filter .courses__filter--control label {
  font-size: 12px;
  color: var(--body-text);
}

.courses .courses__filter .courses__filter--control select {
  margin-left: -4px;
  display: block;
  width: 100%;
  font-size: 15px;
  background-color: var(--bg_default);
  color: var(--body-text);
}

@media (min-width: 992px) {
  .courses .courses__filter {
    flex-direction: row;
  }

  .courses .courses__filter .courses__filter--search {
    width: 75%;
  }

  .courses .courses__filter section {
    width: 25%;
  }

  .courses .courses__filter .courses__filter--search {
    border-bottom: 0;
    border-right: 1px solid var(--lines-color);
  }
}

.courses .courses__header {
  margin: 30px 0 50px;
  color: var(--body-text);
}

.courses .courses__result {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .courses .courses__result {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .courses .courses__result {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .courses .courses__result {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .courses .courses__result {
    grid-template-columns: repeat(5, 1fr);
  }
}

.courses__result--card {
  background-color: var(--bg_default);
  border-radius: 6px;
  box-shadow: 2px 2px 6px #0000001a, -2px -2px 6px #0000001a;
  height: 300px;
  overflow: hidden;
}

.courses__result--card img {
  width: 100%;
  height: 140px;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  object-fit: cover;
  display: block;
}

.courses__result--card .courses__result--card--info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 140px);
}

.courses__result--card .courses__result--card--info p {
  font-size: 14px;
  margin-bottom: 4px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--body-text);
}

.courses__result--card .courses__result--card--info h3 {
  font-size: 15px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--body-text);
}

.courses__result--card .courses__result--card--info span {
  font-size: 14px;
  color: var(--body-text);
  opacity: 0.5;
}

.courses__result--card--info--rating {
  display: flex;
}

.star {
  color: var(--color-star);
}
