:root,
:root.light {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
  --main-font: 'Nunito Sans';
  --color-star: #e39916;
  --shadow: 2px 2px 6px #0000001a, -2px -2px 6px #0000001a;
  --details-text: #fff;
  --details-line: #dddddd;
}

:root.dark {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #1a1a1a;
  --bg_body: #282828;
  --lines-color: #000000;
  --body-text: #ededed;
  --heart-color: #dc143c;
  --main-font: 'Nunito Sans';
  --color-star: #e39916;
}

@media (prefers-color-scheme: light) {
  :root {
    --brand-primary: #0768ac;
    --brand-secondary: #03c180;
    --bg_default: #ffffff;
    --bg_body: #f0f9ff;
    --lines-color: #dddddd;
    --body-text: #333333;
    --heart-color: #dc143c;
    --main-font: 'Nunito Sans';
    --color-star: #e39916;
    --details-text: #333;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand-primary: #0768ac;
    --brand-secondary: #03c180;
    --bg_default: #1a1a1a;
    --bg_body: #282828;
    --lines-color: #000000;
    --body-text: #ededed;
    --heart-color: #dc143c;
    --main-font: 'Nunito Sans';
    --color-star: #e39916;
  }
}
